

#background {
    height: 800px;
}
body {
    background-color: #fcfbfb; }
header {
    background-color:#7681b3;
}
nav a:hover {
    background-color: black;
}
nav a:hover {
    background-color: black;
    color: #d9c2a3;
} 

nav a {
    text-align: center;
    color: #fcfbfb;
    text-decoration: none;
    margin-left: auto;
    margin-right: auto;
}  

html {
    height: 100%;
}
body {
    min-height: 100%;
  
}
p {
    margin: 35px;
  }
  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
  table {
    width: 100%;
  }
  .center {
    margin: auto;
    width: 50%;
    border: 3px solid green;
    padding: 10px;
  }

  .center {
    text-align: center;
  }
.container {
    max-width: 1600px;
}
.icon {
    width: 80px;
}
.logo {
  width: 80px;
}
.center {
  text-align: center;
  border: 3px solid green;
}
#hero-img {
  width: 100%;
}

#background {
  height: 725px;
  background-color:#7681b3;
}
.book, .join {
  background-color:rgb(210, 239, 121)

}
.book:hover, .join:hover {
  background-color:black
}
.msg {
  background-color:#7681b3;
}
footer {
  background-color:#7681b3;
}
.home-title {
  color:black
}
h4 {
  color:black
}
.msg h2 {
  color:black
}
.msg p {
  color:black
}
footer h3 {
  color:black
}
footer a {
  color:black
}
footer a:hover {
  color:black
}
nav a {
  text-align: center;
  color: #fcfbfb;
  text-decoration: none;
}
footer a {
  text-align: center;
  color: #fcfbfb;
  text-decoration: none;
}
.book, .join {
  text-align: center;
  color: #fcfbfb;
  text-decoration: none;
}
footer h3 a:hover {
  text-align: center;
  color: #fcfbfb;
  text-decoration: underline;
}
#hero-msg h1, #hero-msg h4 {
  text-align: center;
}
.button-box {
  text-align: center;
}
main section {
  text-align: center;
}